body {
    margin: 0;
    background-color: bisque;
}

.Container {
    display: flex;
    min-height: 100vh;
}

#sidebar {
    width: 250px;
    background-color: aqua;
    overflow: hidden;
    transition: width 0.3s ease;
}

#sidebar.collapsed {
    width: 0;
}

#Content {
    flex: 1;
    background-color: blueviolet;
    text-align: center;
}

#toggleBtn {
    position: fixed;
    top: 10px;
    left: 10px;
}

#thing1 {
    
}